<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="botonera">
                <button (click)="crearModal(crear)" type="button" class="btn btn-primary mb-3">Agregar Servicio</button>
            </div>
            <div class="card shadow">
                <div novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <h6 class="heading-small text-muted mb-4 ml-lg-4 mt-4">Filtrar</h6>
                    <div class="pl-lg-4 mr-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Servicio</label>
                                    <input [(ngModel)]="filter.nombre" class="form-control form-control-alternative"
                                        id="input-username" placeholder="Nombre" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Tipo</label>
                                    <select name="" id="" [(ngModel)]="filter.subcategoria"
                                        class="form-control form-control-alternative">
                                        <option value="0">--------</option>
                                        <option value="{{subcat.idTipoProducto}}" *ngFor="let subcat of subcategorias">
                                            {{subcat.descripcion}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="botonera">
                        <button (click)="limpiar()" type="button" class="btn btn-light mb-3 mr-3">Limpiar</button>
                        <button (click)="addFilter()" type="button" class="btn btn-primary mb-3 mr-3">Filtrar</button>
                    </div>
                    <hr class="my-4">
                </div>
                <div class="table-responsive">
                    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                            <mat-cell *matCellDef="let ser"> {{ser.idPresentacionProducto}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="servicio">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </mat-header-cell>
                            <mat-cell *matCellDef="let ser"> {{ser.nombre}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="descripcion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
                            <mat-cell *matCellDef="let ser"> {{ser.descripcionGeneral}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="tipoServicio">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Servicio </mat-header-cell>
                            <mat-cell *matCellDef="let ser"> {{ser.idProducto.idTipoProducto.descripcion}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
                <div class="card-footer py-4 ">
                    <nav aria-label="... ">
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </nav>
                </div>

            </div>
        </div>
    </div>


    <ng-template #crear let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Agregar Servicio</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group" style="margin: 0px 15px 15px 15px;">
                <label for="nombre" class="col-form-label">Nombre del servicio</label>
                <input name="nombre" id="id_nombre" cols="30" class="form-control" rows="4" [(ngModel)]="nombre">
            </div>
            <div class="form-group" style="margin: 0px 15px 15px 15px;">
                <label for="apellido" class="col-form-label">Precio</label>
                <input name="apellido" id="id_apellido" cols="30" class="form-control" rows="4" [(ngModel)]="precio">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn  btn-primary" (click)="modal.close('Save click')"><i
                    class="fas fa-save"></i>
                guardar</button>
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')"><i
                    class="fas fa-times"></i>
                cancelar</button>
        </div>
    </ng-template>
</div>