<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="botonera">
                <button (click)="crearModal(crear)" type="button" class="btn btn-primary mb-3">Agregar Horario</button>
            </div>
            <div class="card shadow">

                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Dia</th>
                                <th scope="col">Hora Apertura</th>
                                <th scope="col">Hora Cierre</th>
                                <th scope="col">Intervalo Minutos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hor of horarios | paginate: config">
                                <td>
                                    {{hor.diaCadena}}
                                </td>
                                <td>
                                    {{hor.horaAperturaCadena}}
                                </td>
                                <td>
                                    {{hor.horaCierreCadena}}
                                </td>
                                <td>
                                    {{hor.intervaloMinutos}}
                                </td>
                            </tr>
                            <td colspan="2" style="    height: 200px;" *ngIf="loading">
                                <div class="container--box">

                                    <div class="box">
                                        <div class="spinner spinner--2"></div>
                                    </div>
                                </div>
                            </td>

                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <pagination-controls class="pagination " (pageChange)="pageChanged($event) " maxSize="9 " directionLinks="true " autoHide="true " responsive="true " previousLabel="Anterior " nextLabel="Siguiente" screenReaderPaginationLabel="Pagination " screenReaderPageLabel="page "
                            screenReaderCurrentLabel="Estas en la pagina.. ">
                        </pagination-controls>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <ng-template #crear let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Agregar horario</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group" style="margin: 0px 15px 15px 15px;">
                <label for="descripcion" class="col-form-label">Día de la Semana</label>
                <select class="custom-select" [(ngModel)]="nuevo.dia">
                        <option value="" disabled>Seleccionar día</option>
                        <option value="0">Domingo</option>
                        <option value="1">Lunes</option>
                        <option value="2">Martes</option>
                        <option value="3">Miércoles</option>
                        <option value="4">Jueves</option>
                        <option value="5">Viernes</option>
                        <option value="6">Sábado</option>
                    </select>
            </div>
            <div class="form-group" style="margin: 0px 15px 15px 15px;">
                <label class="col-form-label">Hora Apertura</label>
                <input cols="30" class="form-control" rows="4" [(ngModel)]="nuevo.horaAperturaCadena" [format]="24" [ngxTimepicker]="picker">
                <ngx-material-timepicker #picker></ngx-material-timepicker>
            </div>
            <div class="form-group" style="margin: 0px 15px 15px 15px;">
                <label class="col-form-label">Hora Cierre</label>
                <input cols="30" class="form-control" rows="4" [(ngModel)]="nuevo.horaCierreCadena" [format]="24" [ngxTimepicker]="picker2">
                <ngx-material-timepicker #picker2></ngx-material-timepicker>
            </div>
            <div class="form-group" style="margin: 0px 15px 15px 15px;">
                <label for="intervalo" class="col-form-label">Intervalo</label>
                <input name="intervalo" id="id_telefono" cols="30" class="form-control" [(ngModel)]="nuevo.intervaloMinutos" placeholder="Ingrese el intervalo en minutos" rows="4">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn  btn-primary" (click)="modal.close('Save click')"><i class="fas fa-save"></i>
            guardar</button>
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')"><i class="fas fa-times"></i>
            cancelar</button>
        </div>
    </ng-template>
</div>