<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <mat-table [dataSource]="dataSource " class="mat-elevation-z8 " matSort>
                            <ng-container matColumnDef="idPersona">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                                <mat-cell *matCellDef="let paciente "> {{paciente.idPersona}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="nombre">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                <mat-cell *matCellDef="let paciente "> {{paciente.nombre}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="apellido">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
                                <mat-cell *matCellDef="let paciente "> {{paciente.apellido}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="cedula">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Cedula </mat-header-cell>
                                <mat-cell *matCellDef="let paciente "> {{paciente.cedula}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="ruc">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> RUC </mat-header-cell>
                                <mat-cell *matCellDef="let paciente "> {{paciente.ruc}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fechaNacimiento">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Nacimiento </mat-header-cell>
                                <mat-cell *matCellDef="let paciente "> {{paciente.fechaNacimiento}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="tipoPersona">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Persona </mat-header-cell>
                                <mat-cell *matCellDef="let paciente "> {{paciente.tipoPersona}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="telefono">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </mat-header-cell>
                                <mat-cell *matCellDef="let paciente "> {{paciente.telefono}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let paciente "> <a style="cursor: pointer " (click)="gestionar(paciente) " class="nav-link ">
                                            Gestionar <i class="ni ni-bold-right "></i> 
                                        </a> </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                        </mat-table>
                    </table>
                </div>
                <div class="card-footer py-4 ">
                    <nav aria-label="... ">
                        <mat-paginator [pageSizeOptions]="[5, 10, 20] " showFirstLastButtons></mat-paginator>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>