<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="botonera">
                <button (click)="crearModal(crear)" type="button" class="btn btn-primary mb-3">Agregar Subsubcategoría</button>
            </div>
            <h3 ng-cloak style="margin-top: 5px; color: white" *ngIf="existenSub">
                SUBCATEGORIAS
            </h3>
            <div class="card shadow">
                <h6 class="heading-small text-muted mb-4 ml-lg-4 mt-4">Filtrar</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Nombre de Subcategoria</label>
                                <input [(ngModel)]="nombreSub" class="form-control form-control-alternative" id="input-username" placeholder="Subcategoria" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="botonera">
                    <button (click)="listarPorNombre()" type="button" class="btn btn-primary mb-3 mr-3">Filtrar</button>
                </div>
                <hr class="my-4">
                <h3 ng-cloak style="margin: 50px" *ngIf="existenSub == false">
                    {{noSubs}}
                </h3>
                <div class="table-responsive">
                    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                        <ng-container matColumnDef="idTipoProducto">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                            <mat-cell *matCellDef="let subcateg"> {{subcateg.idTipoProducto}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="descripcion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
                            <mat-cell *matCellDef="let subcateg"> {{subcateg.descripcion}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <ng-template #crear let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Agregar subategoría</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group" style="margin: 0px 15px 15px 15px;">
                    <label for="descripcion" class="col-form-label">Descripción</label>
                    <textarea name="descripcion" id="id_descripcion" cols="30" class="form-control" rows="4" [(ngModel)]="descripcion"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn  btn-primary" (click)="modal.close('Save click')"><i class="fas fa-save"></i>
        guardar</button>
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')"><i class="fas fa-times"></i>
        cancelar</button>
        </div>
    </ng-template>
</div>