
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$argon-dashboard-angular-primary: mat-palette($mat-indigo);
$argon-dashboard-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$argon-dashboard-angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$argon-dashboard-angular-theme: mat-light-theme($argon-dashboard-angular-primary, $argon-dashboard-angular-accent, $argon-dashboard-angular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($argon-dashboard-angular-theme);

/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.box {
    display: flex;
    justify-content: center;
}

.pagination {
    float: right !important;
}

.mat-table,
.mat-paginator {
    font-family: "Poppins", sans-serif !important;
}

.ngx-pagination .current {
    border-radius: 50% !important;
    padding: 0.2rem 0.8rem !important;
}

.ngx-pagination .disabled {
    font-size: 0.9rem;
}

.ngx-pagination a {
    font-size: 0.9rem;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 600px;
    background: #2184e0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5), 1px 2px 3px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: 50px 1fr;
}

.container .text {
    background: #fff;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
}

.container .text::after {
    content: "Follow Me";
    position: absolute;
    height: 100%;
    width: 15%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: normal;
    font-weight: 100;
    color: #fff;
    text-transform: none;
    font-size: 0.8rem;
    background: #222;
    transform-origin: bottom left;
    transition: all 200ms ease-in;
}

.container .text:hover::after {
    background: #e02121;
}

.container--box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container--box .box .spinner {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


/* Spinner 2 */

.container--box .box .spinner--2 {
    border: 2px solid rgb(62, 175, 213);
    border-top-color: #fff;
    animation: spinner2 600ms linear infinite;
}

@keyframes spinner2 {
    to {
        transform: rotate(360deg);
    }
}

.itemsTotal {
    display: flex;
    color: #8897aa;
    font-size: 14px;
    margin: 0px 20px !important;
    align-items: center;
}

.botonera {
    text-align: right;
}


/* modal animation */

.modal-content {
    animation-name: example;
    animation-duration: 0.3s;
}

@keyframes example {
    0% {
        transform: scale(0.5);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

textarea {
    resize: none !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
