<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="botonera">
                <button (click)="crearModal(crear)" type="button" class="btn btn-primary mb-3">Registrar</button>
                <button (click)="crearModalAgregarDetalleAServicio(crearModalDetalleServicio)" type="button" class="btn btn-primary mb-3">Agregar detalle a
                    servicio</button>
            </div>
            <div class="card shadow">
                <div novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <h6 class="heading-small text-muted mb-4 ml-lg-4 mt-4">Filtrar</h6>
                    <div class="pl-lg-4 mr-3">


                        <hr class="my-4">
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Observacion</th>
                                    <th scope="col">Presupuesto</th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ser of services">
                                    <td>
                                        {{ser.idServicio}}
                                    </td>
                                    <td>
                                        {{ser.usuario.usuarioLogin}}
                                    </td>
                                    <td>
                                        {{ser.observacion}}
                                    </td>
                                    <td>
                                        {{ser.presupuesto}}
                                    </td>
                                    <td><button class="btn btn-primary mb-1" (click)="eliminarUnServicioParcial(ser.idServicio)" type="button"><i
                                                class="fas fa-trash"></i></button></td>
                                    <td><button class="btn btn-primary mb-1" (click)="crearModalDetallesDeServicio(detalles, ser.idServicio)" type="button"><i class="fas fa-eye"></i></button></td>
                                    <td><button class="btn btn-primary mb-1" (click)="crearModalDetallesServicioDetallado(detallesDetallado, ser.idServicio)" type="button"><i class="fas fa-arrow-alt-circle-right"></i></button></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-4">
                        <nav aria-label="...">

                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #crear let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Agregar Servicio</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" style="margin: 0px 15px 15px 15px;">
                    <label for="observacion" class="col-form-label">Observacion</label>
                    <input name="observacion" id="id_observacion" cols="30" class="form-control" rows="4" [(ngModel)]="observacion">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-primary" (click)="modal.close('Save click')"><i
                        class="fas fa-save"></i>
                    guardar</button>
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')"><i
                        class="fas fa-times"></i>
                    cancelar</button>
            </div>
        </ng-template>
        <ng-template #crearModalDetalleServicio let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-agregar-detalle-a-servicio">Agregar Detalle a Servicio</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group" style="margin: 0px 15px 15px 15px;">
                <label for="observacion" class="col-form-label">Seleccione el detalle a agregar</label>
                <div class="col-lg-6">
                    <div class="form-group">
                        <select [(ngModel)]="idPre" class="form-control form-control-alternative">
                            <option value="{{pp.idPresentacionProducto}}" *ngFor="let pp of presentacionProducto">
                                {{pp.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <label for="observacion" class="col-form-label">Seleccione Servicio a agregar</label>
                <div class="col-lg-6">
                    <div class="form-group">
                        <select name="" id="" [(ngModel)]="idSer" class="form-control form-control-alternative">
                            <option value="0">-------------------------------</option>
                            <option value="{{s.idServicio}}" *ngFor="let s of services">{{s.observacion}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-primary" (click)="modal.close('Save click')"><i
                        class="fas fa-save"></i>
                    Guardar</button>
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')"><i
                        class="fas fa-times"></i>
                    Cancelar</button>
            </div>
        </ng-template>

        <ng-template #detalles let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="detalles-del-servicio">Detalles del servicio</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" style="margin: 0px 15px 15px 15px;">
                    <label for="IdServicio" class="col-form-label">Id Servicio</label>
                    <input name="Servicio" placeholder="{{idSer}}" disabled="disabled" id="id_servicio" cols="30" class="form-control" rows="4">
                    <label for="observacion" class="col-form-label">Observacion</label>
                    <input name="Observacion" placeholder="{{observacion}}" disabled="disabled" id="id_servicio" cols="30" class="form-control" rows="4">
                    <label for="Estado" class="col-form-label">Estado</label>
                    <input name="Estado" placeholder="{{estado}}" disabled="disabled" id="id_servicio" cols="30" class="form-control" rows="4">
                    <label for="Presupuesto" class="col-form-label">Presupuesto</label>
                    <input name="Presupuesto" placeholder="{{presupuesto}}" disabled="disabled" id="id_servicio" cols="30" class="form-control" rows="4">
                </div>
            </div>
        </ng-template>

        <ng-template #detallesDetallado let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="detalles-del-servicio-detallado">Detalles del servicio</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" style="margin: 0px 15px 15px 15px;">
                    <label for="IdServicio" class="col-form-label">Id Servicio</label>
                    <input name="Servicio" placeholder="{{idSer}}" disabled="disabled" id="id_servicio" cols="30" class="form-control" rows="4">
                    <label for="Motivo Consulta" class="col-form-label">Motivo Consulta</label>
                    <input name="motivoConsulta" placeholder="{{motivoConsulta}}" disabled="disabled" id="id_servicio" cols="30" class="form-control" rows="4">
                    <label for="Descripcion" class="col-form-label">Descripcion</label>
                    <input name="descripcion" placeholder="{{descripcionGeneral}}" disabled="disabled" id="id_servicio" cols="30" class="form-control" rows="4">
                </div>
            </div>
        </ng-template>
    </div>